USE [master]
GO
/****** Object:  Database [CourseSelectionDB]    Script Date: 2025/12/17 18:31:33 ******/
CREATE DATABASE [CourseSelectionDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CourseSelectionDB', FILENAME = N'E:\SQL2022\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CourseSelectionDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CourseSelectionDB_log', FILENAME = N'E:\SQL2022\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CourseSelectionDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CourseSelectionDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CourseSelectionDB]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 2025/12/17 18:31:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [varchar](10) NOT NULL,
	[CourseName] [nvarchar](50) NOT NULL,
	[Credit] [decimal](3, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 2025/12/17 18:31:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [varchar](20) NULL,
	[OfferingID] [int] NULL,
	[EnrollDate] [date] NOT NULL,
	[Grade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offering]    Script Date: 2025/12/17 18:31:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offering](
	[OfferingID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [varchar](10) NULL,
	[TeacherID] [varchar](20) NULL,
	[Semester] [varchar](20) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Location] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OfferingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/12/17 18:31:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [varchar](20) NOT NULL,
	[PasswordHash] [varchar](128) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Role] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Course] ([CourseID], [CourseName], [Credit]) VALUES (N'01', N'csharp', CAST(3.0 AS Decimal(3, 1)))
GO
SET IDENTITY_INSERT [dbo].[Enrollment] ON 

INSERT [dbo].[Enrollment] ([EnrollmentID], [StudentID], [OfferingID], [EnrollDate], [Grade]) VALUES (3, N'04232415', 1, CAST(N'2025-12-17' AS Date), 100)
SET IDENTITY_INSERT [dbo].[Enrollment] OFF
GO
SET IDENTITY_INSERT [dbo].[Offering] ON 

INSERT [dbo].[Offering] ([OfferingID], [CourseID], [TeacherID], [Semester], [Capacity], [Location]) VALUES (1, N'01', N'001', N'2025-12', 30, N'E301')
SET IDENTITY_INSERT [dbo].[Offering] OFF
GO
INSERT [dbo].[Users] ([UserID], [PasswordHash], [UserName], [Role]) VALUES (N'001', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', N'孙孔峰', N'Teacher')
INSERT [dbo].[Users] ([UserID], [PasswordHash], [UserName], [Role]) VALUES (N'04232414', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'小陈', N'Student')
INSERT [dbo].[Users] ([UserID], [PasswordHash], [UserName], [Role]) VALUES (N'04232415', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', N'谢东', N'Student')
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD FOREIGN KEY([OfferingID])
REFERENCES [dbo].[Offering] ([OfferingID])
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Offering]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Offering]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Student' OR [Role]='Teacher' OR [Role]='Admin'))
GO
USE [master]
GO
